<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>Wallet</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon_40.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Backup Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.IBM.HealthPass.Holder.BackupArchive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon_40.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Card Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.IBM.HealthPass.Holder.CardImage</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon_40.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Connection Data</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.IBM.HealthPass.Holder.ConnectionData</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>icon_40.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Credential File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.IBM.HealthPass.Holder.CredentialFile</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>icon_40.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Smart Health Card File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.IBM.HealthPass.Holder.SmartHealthCardFile</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon_40</string>
			<key>CFBundleURLName</key>
			<string>com.IBM.HealthPass.Holder.hpholder</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hpholder</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon_40</string>
			<key>CFBundleURLName</key>
			<string>com.IBM.HealthPass.Holder.dhpwallet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dhpwallet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon_40</string>
			<key>CFBundleURLName</key>
			<string>com.IBM.HealthPass.Holder.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>dev1.wh-hpass.dev.acme.com</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>dev2.wh-hpass.dev.acme.com</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>sandbox1.wh-hpass.dev.acme.com</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>sandbox2.wh-hpass.dev.acme.com</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>You can use the camera to scan QR codes in health passes and cards.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Digital Health Pass Wallet would need local authentication for securely storing your cards and contacts</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Digital Health Pass Wallet would need to access your health data in order to import Verifiable Health Records</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Digital Health Pass Wallet would need to access your health data in order to import Verifiable Health Records</string>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexSans-Bold.ttf</string>
		<string>IBMPlexSans-BoldItalic.ttf</string>
		<string>IBMPlexSans-ExtraLight.ttf</string>
		<string>IBMPlexSans-ExtraLightItalic.ttf</string>
		<string>IBMPlexSans-Italic.ttf</string>
		<string>IBMPlexSans-LightItalic.ttf</string>
		<string>IBMPlexSans-Light.ttf</string>
		<string>IBMPlexSans-Medium.ttf</string>
		<string>IBMPlexSans-MediumItalic.ttf</string>
		<string>IBMPlexSans-Regular.ttf</string>
		<string>IBMPlexSans-SemiBold.ttf</string>
		<string>IBMPlexSans-SemiBoldItalic.ttf</string>
		<string>IBMPlexSans-Thin.ttf</string>
		<string>IBMPlexSans-ThinItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Launch</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Launch</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Backup Archive</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.IBM.HealthPass.Holder.BackupArchive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hpzip</string>
					<string>HPZIP</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Credential File</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.IBM.HealthPass.Holder.CredentialFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>w3c</string>
				</array>
			</dict>
		</dict>
		<dict/>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Backup Archive</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Icon_76.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.IBM.HealthPass.Holder.BackupArchive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hpzip</string>
					<string>HPZIP</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Card Image</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Icon_76.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.IBM.HealthPass.Holder.CardImage</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>avci</string>
					<string>heic</string>
					<string>heif</string>
					<string>png</string>
					<string>jpg</string>
					<string>pdf</string>
					<string>AVCI</string>
					<string>HEIC</string>
					<string>HEIF</string>
					<string>PNG</string>
					<string>JPG</string>
					<string>PDF</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Connection Data</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.IBM.HealthPass.Holder.ConnectionData</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nihholder</string>
					<string>NIHHOLDER</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Credential File</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.IBM.HealthPass.Holder.CredentialFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>w3c</string>
					<string>W3C</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Smart Health Card File</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.IBM.HealthPass.Holder.SmartHealthCardFile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>smart-health-card</string>
					<string>SMART-HEALTH-CARD</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
